In [65]:
# Importamos Pandas para trabajar con dataframes
import pandas as pd
import numpy as np

In [66]:
# Importamos los archivos CSV, uno para cada servicio de streaming
Amazon = pd.read_csv("csv/amazon_prime_titles.csv", sep=",")
Disney = pd.read_csv("csv/disney_plus_titles.csv", sep=",")
Hulu = pd.read_csv("csv/hulu_titles.csv", sep=",")
Netflix = pd.read_csv("csv/netflix_titles.csv", sep=",")

In [67]:
# verificamos los dataset
Amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [68]:
# cantidad de filas y columnas 
Amazon.shape

(9668, 12)

In [69]:
Amazon["rating"].unique()

array([nan, '13+', 'ALL', '18+', 'R', 'TV-Y', 'TV-Y7', 'NR', '16+',
       'TV-PG', '7+', 'TV-14', 'TV-NR', 'TV-G', 'PG-13', 'TV-MA', 'G',
       'PG', 'NC-17', 'UNRATED', '16', 'AGES_16_', 'AGES_18_', 'ALL_AGES',
       'NOT_RATE'], dtype=object)

In [70]:
#Revisamos la cantidad de nulos por columna
Amazon.isnull().sum().sort_values(ascending=False)

date_added      9513
country         8996
director        2082
cast            1233
rating           337
show_id            0
type               0
title              0
release_year       0
duration           0
listed_in          0
description        0
dtype: int64

In [71]:
# mostramos la tabla 
Disney.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [72]:
Disney["rating"].unique()

array(['TV-G', 'PG', 'TV-PG', nan, 'PG-13', 'TV-14', 'G', 'TV-Y7', 'TV-Y',
       'TV-Y7-FV'], dtype=object)

In [73]:
# cantidad de filas y columnas 
Disney.shape

(1450, 12)

In [74]:
#Revisamos la cantidad de nulos por columna
Disney.isnull().sum().sort_values(ascending=False)

director        473
country         219
cast            190
date_added        3
rating            3
show_id           0
type              0
title             0
release_year      0
duration          0
listed_in         0
description       0
dtype: int64

In [75]:
Hulu.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [76]:
# cantidad de filas y columnas 
Hulu.shape

(3073, 12)

In [77]:
#Revisamos la cantidad de nulos por columna
Hulu.isnull().sum().sort_values(ascending=False)

cast            3073
director        3070
country         1453
rating           520
duration         479
date_added        28
description        4
show_id            0
type               0
title              0
release_year       0
listed_in          0
dtype: int64

In [78]:
Netflix.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [79]:
# cantidad de filas y columnas 
Netflix.shape

(8807, 12)

In [80]:
#Revisamos la cantidad de nulos por columna
Netflix.isnull().sum().sort_values(ascending=False)

director        2634
country          831
cast             825
date_added        10
rating             4
duration           3
show_id            0
type               0
title              0
release_year       0
listed_in          0
description        0
dtype: int64

Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

In [81]:
# generamos una copia para no alterar el dataset original 
Amazon_1 = Amazon.copy()
Disney_1 = Disney.copy()
Hulu_1 = Hulu.copy() 
Netflix_1 = Netflix.copy()

In [82]:
#Primero voy a agregar a todos los datasts una columna llamada 'platform'
Amazon_1['platform'] = 'amazon'
Disney_1['platform'] = 'disney'
Hulu_1['platform'] = 'hulu'
Netflix_1['platform'] = 'netflix'

In [83]:
# Generamos el campo id: Cada id se compondrá de la primera letra del
# nombre de la plataforma, seguido del show_id ya presente en los dataset

Amazon_1.insert(loc=0, column="Id", value="a" + Amazon["show_id"])
Disney_1.insert(loc=0, column="Id", value="d" + Disney["show_id"])
Hulu_1.insert(loc=0, column="Id", value="h" + Hulu["show_id"])
Netflix_1.insert(loc=0, column="Id", value="n" + Netflix["show_id"])

In [84]:
Amazon_1.head(2)

,Id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon

In [85]:
Disney_1.head(2)

,Id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,ds1,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,disney
1,ds2,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,disney

In [86]:
Hulu_1.head(2)

,Id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,hs1,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hulu
1,hs2,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",hulu

In [87]:
Netflix_1.head(2)

,Id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,ns1,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",netflix
1,ns2,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",netflix

In [88]:
# concardenamos los dataset en uno solo, con el campo Id ya tenemos como diferenciarlos 

peliculas = Amazon_1.append(Disney_1).append(Hulu_1).append(Netflix_1)

C:\Users\alekz\AppData\Local\Temp\ipykernel_8580\3857293069.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  peliculas = Amazon_1.append(Disney_1).append(Hulu_1).append(Netflix_1)
C:\Users\alekz\AppData\Local\Temp\ipykernel_8580\3857293069.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  peliculas = Amazon_1.append(Disney_1).append(Hulu_1).append(Netflix_1)

In [89]:
#visualizamos 
peliculas

,Id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon
2,as3,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon
3,as4,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon
4,as5,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,ns8803,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",netflix
8803,ns8804,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",netflix
8804,ns8805,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,netflix
8805,ns8806,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",netflix
8806,ns8807,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,netflix

In [90]:
peliculas["rating"].unique()

array([nan, '13+', 'ALL', '18+', 'R', 'TV-Y', 'TV-Y7', 'NR', '16+',
       'TV-PG', '7+', 'TV-14', 'TV-NR', 'TV-G', 'PG-13', 'TV-MA', 'G',
       'PG', 'NC-17', 'UNRATED', '16', 'AGES_16_', 'AGES_18_', 'ALL_AGES',
       'NOT_RATE', 'TV-Y7-FV', 'NOT RATED', '2 Seasons', '93 min',
       '4 Seasons', '136 min', '91 min', '85 min', '98 min', '89 min',
       '94 min', '86 min', '3 Seasons', '121 min', '88 min', '101 min',
       '1 Season', '83 min', '100 min', '95 min', '92 min', '96 min',
       '109 min', '99 min', '75 min', '87 min', '67 min', '104 min',
       '107 min', '84 min', '103 min', '105 min', '119 min', '114 min',
       '82 min', '90 min', '130 min', '110 min', '80 min', '6 Seasons',
       '97 min', '111 min', '81 min', '49 min', '45 min', '41 min',
       '73 min', '40 min', '36 min', '39 min', '34 min', '47 min',
       '65 min', '37 min', '78 min', '102 min', '129 min', '115 min',
       '112 min', '61 min', '106 min', '76 min', '77 min', '79 min',
       '157 min', '28 min', '64 min', '7 min', '5 min', '6 min',
       '127 min', '142 min', '108 min', '57 min', '118 min', '116 min',
       '12 Seasons', '71 min', '74 min', '66 min', 'UR'], dtype=object)

In [91]:
# eliminamos los espacios vacios al inicio y al final de cada campo

peliculas_1= peliculas.applymap(lambda x:x.strip() if isinstance (x, str) else x)

In [92]:
# verifico el resultado
peliculas_1.head(2)

,Id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon

In [93]:
#verificamos que no tenga datos duplicados

peliculas_1[peliculas_1.duplicated(keep=False)]

Empty DataFrame
Columns: [Id, show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, platform]
Index: []

Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”

In [94]:
# verificamos la cantidad de nulos por columna

peliculas_1.isnull().sum()

Id                  0
show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating            864
duration          482
listed_in           0
description         4
platform            0
dtype: int64

In [95]:
# Reemplazamos los valores nulos del campo "Rating" por la letra "G"

peliculas_1["rating"].fillna("G", inplace=True)

In [96]:
# Verificamos la correcciòn sobre la columna "rating"
peliculas_1.isnull().sum()

Id                  0
show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating              0
duration          482
listed_in           0
description         4
platform            0
dtype: int64

In [97]:
# Visualizamos 
peliculas_1.head(2)

,Id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon

De haber fechas, deberán tener el formato AAAA-mm-dd

In [98]:
# modificamos el formato de la columna "date_added" a AAAA-mm-dd
peliculas_1["date_added"] = pd.to_datetime(peliculas_1["date_added"])

In [99]:
#visualizamos 
peliculas_1.head(2)

,Id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon

Los campos de texto deberán estar en minúsculas, sin excepciones

In [100]:
# Pasamos a minúsculas los campos de texto
peliculas_1["type"] = peliculas_1["type"].str.lower()
peliculas_1["title"] = peliculas_1["title"].str.lower()
peliculas_1["director"] = peliculas_1["director"].str.lower()
peliculas_1["cast"] = peliculas_1["cast"].str.lower()
peliculas_1["country"] = peliculas_1["country"].str.lower()
peliculas_1["rating"] = peliculas_1["rating"].str.lower()
peliculas_1["duration"] = peliculas_1["duration"].str.lower()
peliculas_1["listed_in"] = peliculas_1["listed_in"].str.lower()
peliculas_1["description"] = peliculas_1["description"].str.lower()

In [101]:
# visualizamos
peliculas_1.head(2)

,Id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,amazon

El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [102]:
# Separamos el campo "duration" en 2 columnas
splitcolumnas = peliculas_1["duration"].str.split(" ", n=1, expand=True)

In [103]:
# Insertamos una columna con los minutos o las temporadas 
peliculas_1["duration_int"] = splitcolumnas[0]

In [104]:
# Insertamos una columna con las unidades 
peliculas_1["duration_type"] = splitcolumnas[1]

In [105]:
# Reemplazamos "seasons" por "season" en la columna "duration_type"
peliculas_1["duration_type"] = peliculas_1["duration_type"].str.replace("seasons", "season")

In [106]:
# Cambiamor el formato del campo "duration_int" a integer
peliculas_1["duration_int"] = peliculas_1["duration_int"].astype("Int64")

In [107]:
# eliminamos la columna duration
peliculas_2= peliculas_1.drop(["duration"],axis=1)

In [108]:
#Vemos los primeros registros 
peliculas_2.head(5)

,Id,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,platform,duration_int,duration_type
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,amazon,113,min
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,amazon,110,min
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,amazon,74,min
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",amazon,69,min
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,amazon,45,min

In [109]:
#Vemos los ultimos registros 
peliculas_2.tail(5)

,Id,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,platform,duration_int,duration_type
8802,ns8803,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",netflix,158,min
8803,ns8804,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",netflix,2,season
8804,ns8805,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,netflix,88,min
8805,ns8806,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",netflix,88,min
8806,ns8807,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,netflix,111,min

In [110]:
peliculas_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             22998 non-null  object
 1   show_id        22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   rating         22998 non-null  object
 10  listed_in      22998 non-null  object
 11  description    22994 non-null  object
 12  platform       22998 non-null  object
 13  duration_int   22516 non-null  Int64
 14  duration_type  22516 non-null  object
dtypes: Int64(1), datetime64[ns](1), int64(1), object(12)
memory usage: 2.8+ MB

teniendo el dataset, se utiliza los csvs de la carpeta ratings, donde los uniremos y luego juntaremos estos dos csv para tener un csv final completo

In [111]:
#Cargo los csv
rating_1 = pd.read_csv('ratings/1.csv', sep=",")
rating_2 = pd.read_csv('ratings/2.csv', sep=",")
rating_3 = pd.read_csv('ratings/3.csv', sep=",")
rating_4 = pd.read_csv('ratings/4.csv', sep=",")
rating_5 = pd.read_csv('ratings/5.csv', sep=",")
rating_6 = pd.read_csv('ratings/6.csv', sep=",")
rating_7 = pd.read_csv('ratings/7.csv', sep=",")
rating_8 = pd.read_csv('ratings\8.csv', sep=",")

In [112]:
#unimos todo los dataset

ratings_unidos = pd.concat([rating_1, rating_2, rating_3, rating_4, rating_5, rating_6, rating_7, rating_8])

In [113]:
#revisamos si estan correctamente  
ratings_unidos.head()

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500

In [114]:
#numero de filas y columnas 
ratings_unidos.shape

(11024289, 4)

In [115]:
#resuminos toda su información
ratings_unidos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11024289 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   rating     float64
 2   timestamp  int64
 3   movieId    object
dtypes: float64(1), int64(2), object(1)
memory usage: 420.5+ MB

In [116]:
#cambio el formato de la columna 'timestamp', aca lo paso de int a 'float'
ratings_unidos['timestamp'] = pd.to_datetime(ratings_unidos['timestamp'], unit='s').dt.strftime('%B %d, %Y')

In [117]:
#paso a formato fecha 
ratings_unidos['timestamp'] = pd.to_datetime(ratings_unidos['timestamp'])

In [118]:
#Cambiamos el nombre del campo 'rating' por 'score'
ratings_unidos2 = ratings_unidos.rename(columns = {'rating' : 'score'})

In [119]:
#valido que haya quedado el cambio
ratings_unidos2

         userId  score  timestamp movieId
0             1    1.0 2015-03-09   as680
1             1    4.5 2015-03-09  ns2186
2             1    5.0 2015-03-09  hs2381
3             1    5.0 2015-03-09  ns3663
4             1    5.0 2015-03-09  as9500
...         ...    ...        ...     ...
1499995  124380    4.5 2007-12-04  ns5272
1499996  124380    2.5 2007-12-04  ns5492
1499997  124380    3.5 2007-12-04   hs305
1499998  124380    4.5 2007-12-04  ns7881
1499999  124380    1.5 2007-12-04   as883

[11024289 rows x 4 columns]

exportamos el rating unificado con las transformaciones

In [120]:
ratings_unidos2.to_csv("MoviesScore.csv", index=False)

In [121]:
#Calculo el promedio de cada pelicula 
MeanScore = ratings_unidos2.groupby("movieId")
MeanScore = MeanScore["score"].mean()

In [122]:
#Lo pasamos a un dataframe y reseteamos el indice
df_MeanScore= pd.DataFrame(MeanScore)

In [123]:
#revisamos los cambios
df_MeanScore

            score
movieId
as1      3.467131
as10     3.439571
as100    3.609302
as1000   3.556701
as1001   3.585288
...           ...
ns995    3.515625
ns996    3.626518
ns997    3.530526
ns998    3.582645
ns999    3.494781

[22998 rows x 1 columns]

In [124]:
platform_movies = peliculas_2.merge(df_MeanScore, left_on="Id", right_on="movieId")

In [125]:
#Lo visualizo
platform_movies.head()

,Id,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,platform,duration_int,duration_type,score
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,amazon,113,min,3.467131
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,amazon,110,min,3.548682
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,amazon,74,min,3.500000
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",amazon,69,min,3.538055
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,amazon,45,min,3.478992

In [126]:
# numero de columnas y filas 
platform_movies.shape

(22998, 16)

In [127]:
#Lo exporto como csv
platform_movies.to_csv('Df_completo.csv')

In [128]:
platform_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 22997
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             22998 non-null  object
 1   show_id        22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   rating         22998 non-null  object
 10  listed_in      22998 non-null  object
 11  description    22994 non-null  object
 12  platform       22998 non-null  object
 13  duration_int   22516 non-null  Int64
 14  duration_type  22516 non-null  object
 15  score          22998 non-null  float64
dtypes: Int64(1), datetime64[ns](1), float64(1), int64(1), object(12)
memory usage: 3.0+ MB